@charset "UTF-8";

/*
ThemeFixer v1.0.3 by DevilBro
ClearVision by CV team
Modifed by NekoMeow
*/

@import url(https://discord.xein.xyz/main.css);

/* DEFAULT SETTINGS */
:root {
  /* 主题 */
  --main-color: #20ffffc3;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --online-color: #43b581;

  /* 字体颜色 */
  --text-normal: rgb(220, 221, 222);
  --text-muted:  rgb(114, 118, 125);

  /*字体*/
  --main-font: Varela Round, Noto Sans, Noto Sans SC, Noto Sans TC, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--main-font);

  /*字体色*/
  --text-normal: rgb(220, 221, 222);
  --text-muted: rgb(114, 118, 125);

  /*频道宽*/
  --channels-width: 240px;
  
  /*会员宽(右手)*/
  --members-width: 240px;
  
  /* 背景图 */
  --background-image: url(https://w.wallhaven.cc/full/vg/wallhaven-vgryop.jpg);
  --background-overlay: rgba(0, 0, 0, .6);
  --background-shading: 0%;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;

  /* Discord图标 */
  --home-icon: url(https://emoji.discord.st/emojis/c1f543ec-27f4-4dc2-baf0-5c5dcb038d17.gif);
  --home-position: center;
  --home-size: 40px;

  --user-popout-overlay: var(--background-overlay);

  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}

/* 标题 Windows & Mac */
.typeMacOS__421ed:before,
typeWindows__421ed > .wordmark__421ed:before
{
  content: "Xein";
}

.typeMacOS__421ed:after,
.typeWindows__421ed > .wordmark__421ed:after
{
  content: "v1.7";
}

/* TAGGED USERS */
.contents_d3ae0d>img[src*="329603741491789824"]~.header__6a14d>.headerText_bd68ec>.username__0b0e7::after,.messageContent_abea64>img[src*="194151269399527425"]~.header__6a14d>.headerText_bd68ec>.username__0b0e7::after{
  content: "Xein (AKA NekoMeow)";
}