@charset "UTF-8";

/*
ThemeFixer v1.0.3 by DevilBro
ClearVision v6.3 by CV team
Modifed by NekoMeow
*/

/* Main CSS by CV Team */
@import url(https://discord.xein.xyz/cv.css);

/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Noto%20Sans);
@import url(https://fonts.googleapis.com/css2?family=Noto%20Sans%20SC);
@import url(https://fonts.googleapis.com/css2?family=Noto%20Sans%20TC);
@import url(https://fonts.googleapis.com/css2?family=Varela%20Round);

/* DEFAULT SETTINGS */
:root {
  /* 主题 */
  --main-color: #20ffffc3;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --online-color: #43b581;

  /* 字体颜色 */
  --text-normal: rgb(220, 221, 222);
  --text-muted:  rgb(114, 118, 125);

  /*字体*/
  --main-font: Varela Round, Noto Sans, Noto Sans SC, Noto Sans TC, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--main-font);

  /*字体色*/
  --text-normal: rgb(220, 221, 222);
  --text-muted: rgb(114, 118, 125);

  /*频道宽*/
  --channels-width: 240px;
  
  /*会员宽(右手)*/
  --members-width: 240px;
  
  /* 背景图 */
  --background-image: url(https://w.wallhaven.cc/full/vg/wallhaven-vgryop.jpg);
  --background-overlay: rgba(0, 0, 0, .6);
  --background-shading: 0%;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;

  /* Discord图标 */
  --home-icon: url(https://emoji.discord.st/emojis/c1f543ec-27f4-4dc2-baf0-5c5dcb038d17.gif);
  --home-position: center;
  --home-size: 40px;

  --user-popout-overlay: var(--background-overlay);

  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}

/* 标题 Windows & Mac */
.typeWindows__5fa63>.wordmark__0d178:before,
.typeMacOS__496b0:before,
.theme-dark .container-container_ca50b9:before {
  content: "Xein";
}
.typeWindows__5fa63>.wordmark__0d178:after,
.typeMacOS__496b0:after,
.theme-dark .container_ca50b9:after {
  content: "v1.6";
}

/* TAGGED USERS */
.contents_f41bb2>img[src*="329603741491789824"]~.header__39b23>.headerText_f47574>.username_d30d99::after{
  content: "Xein (AKA NekoMeow)";
}

/* USER POPOUT */
.userPopout-2j1gM4 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.userPopoutOuter-3AVBmJ {
  --profile-role-pill-background-color: transparent;
  --profile-role-pill-border-color: #ffffff33;
}

/* ROLE COLOR BORDER */
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

.container-YkUktl>.flex-3BkGQD,.container-1zzFcN>.flex-3BkGQD {
  background:transparent;
  border-radius:15px
}

/* Member List */
.members-3WRCEx {
  background: transparent;
  margin-bottom: 12px;
}

.channelTextArea-1VQBuV {
  background: transparent;
}