@charset "UTF-8";

/*
ThemeFixer v1.0.3 by DevilBro
ClearVision v6.1.1 by CV team
Powered by DiscordSelectors v0.2.7
Modifed by NekoMeow
*/

@import url(https://discord.xein.xyz/main.css);

body,
#app-mount,
#app-mount .app-3xd6d0,
#app-mount .app-2CXKsg,
#app-mount .container-2RRFHK.fixClipping-3GOd_d,
#app-mount .wrapper-3AZUiP,
#app-mount .bg-1QIAus,
#app-mount .layer-86YKbF,
#app-mount .container-1NXEtd,
#app-mount .privateChannels-oVe7HL,
#app-mount .panels-3wFtMD > *,
#app-mount .chat-2ZfjoI,
#app-mount .container-3XgAHv,
#app-mount .wrapper-3HVHpV,
#app-mount .noChat-sb1z07,
#app-mount .members-3WRCEx,
#app-mount .members-3WRCEx > div,
#app-mount .container-2cd8Mz,
#app-mount .applicationStore-2nk7Lo,
#app-mount .pageWrapper-2PwDoS,
#app-mount .scrollerBase-_bVAAt,
#app-mount .standardSidebarView-E9Pc3j,
#app-mount .contentRegion-3HkfJJ {
  background-color: transparent;
}
#app-mount .children-3xh0VB:after {
  display: none;
}
#app-mount .wrapper-1_HaEi {
  background-color: rgba(0, 0, 0, 0.3);
}
#app-mount .container-ZMc96U.themed-Hp1KC_,
#app-mount .sidebarRegion-1VBisG,
#app-mount .sidebar-1tnWFu,
#app-mount .panels-3wFtMD,
#app-mount .membersWrap-3NUR2t,
#app-mount .nowPlayingColumn-1eCBCN {
  background-color: rgba(0, 0, 0, 0.2);
}

/* DEFAULT SETTINGS */
:root {
  /* 主题 */
  --main-color: #20ffffc3;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --online-color: #43b581;

  /* 字体颜色 */
  --text-normal: rgb(220, 221, 222);
  --text-muted:  rgb(114, 118, 125);

  /*字体*/
  --main-font: Varela Round, Noto Sans, Noto Sans SC, Noto Sans TC, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--main-font);

  /*字体色*/
  --text-normal: rgb(220, 221, 222);
  --text-muted: rgb(114, 118, 125);

  /*频道宽*/
  --channels-width: 240px;
  
  /*会员宽(右手)*/
  --members-width: 240px;
  
  /* 背景图 */
  --background-image: url(https://w.wallhaven.cc/full/vg/wallhaven-vgryop.jpg);
  --background-overlay: rgba(0, 0, 0, .6);
  --background-shading: 0%;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;

  /* Discord图标 */
  --home-icon: url(https://emoji.discord.st/emojis/c1f543ec-27f4-4dc2-baf0-5c5dcb038d17.gif);
  --home-position: center;
  --home-size: 40px;

  /* Make popup follow background overlay */
  --user-popout-overlay: transparent;
}

/* 标题 Windows & Mac */
.typeMacOS_cacc59:before,
.typeWindows_e41dab>.wordmark__5b8c9:before
{
  content: "Xein";
}

.typeMacOS_cacc59:after,
.typeWindows_e41dab>.wordmark__5b8c9:after
{
  content: "v1.7";
}

/* TAGGED USERS */
.contents_d3ae0d>img[src*="329603741491789824"]~.header__6a14d>.headerText_bd68ec>.username__0b0e7::after,.messageContent_abea64>img[src*="194151269399527425"]~.header__6a14d>.headerText_bd68ec>.username__0b0e7::after{
  content: "Xein (AKA NekoMeow)";
}
