@charset "UTF-8";

/*
ThemeFixer v1.0.3 by DevilBro
ClearVision v6.1.1 by CV team
Powered by DiscordSelectors v0.2.7
Modifed by NekoMeow
*/

/* Main CSS by CV Team */
@import url(https://xeindiscord.pages.dev/cv.css);

/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Noto%20Sans);
@import url(https://fonts.googleapis.com/css2?family=Varela%20Round);

/* DEFAULT SETTINGS */
:root {
  /* 主题 */
  --main-color: #20ffffc3;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --online-color: #43b581;

  /* 字体颜色 */
  --text-normal: rgb(220, 221, 222);
  --text-muted:  rgb(114, 118, 125);

  /*字体*/
  --main-font: Varela Round, Noto Sans, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--main-font);

  /*字体色*/
  --text-normal: rgb(220, 221, 222);
  --text-muted: rgb(114, 118, 125);

  /*频道宽*/
  --channels-width: 240px;
  
  /*会员宽(右手)*/
  --members-width: 240px;
  
  /* 背景图 */
  --background-image: url(https://w.wallhaven.cc/full/vg/wallhaven-vgryop.jpg);
  --background-overlay: rgba(0, 0, 0, .6);
  --background-shading: 0%;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-invert: 0%;
  --background-grayscale: 0%;
  --background-sepia: 0%;
  --background-blur: 0px;

  /* Discord图标 */
  --home-icon: url(https://emoji.discord.st/emojis/c1f543ec-27f4-4dc2-baf0-5c5dcb038d17.gif);
  --home-position: center;
  --home-size: 40px;

  --user-popout-overlay: var(--background-overlay);
}

/* 标题 Windows & Mac */
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  content: "Xein";
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  content: "v1.2";
}

.typeMacOS-3EmCyP:before {
  content: "Xein";
}
.typeMacOS-3EmCyP:after {
  content: "1.2";
}

/* 频道列表最下面 */
.container-3baos1:before {
  content: "Xein";
}
.container-3baos1:after {
  content: "v1.2";
}

/* TAGGED USERS */
.contents-2mQqc9 > img[src*="329603741491789824"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "Xein (AKA NekoMeow)";
}

/* USER POPOUT */
.userPopout-xaxa6l {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}